<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/level/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/1/data/1/plot" value="false" />
    <add key="/hdd/1/data/2/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1912" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1936" />
    <add key="mainForm.Height" value="1056" />
    <add key="/hdd/1/factor/1/plot" value="false" />
    <add key="minTrayMenuItem" value="false" />
    <add key="plotLocation" value="2" />
    <add key="hiddenMenuItem" value="true" />
    <add key="plotMenuItem" value="false" />
    <add key="plotForm.Location.X" value="2864" />
    <add key="plotForm.Location.Y" value="222" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="stackedAxes" value="true" />
    <add key="gadgetMenuItem" value="false" />
    <add key="/intelcpu/0/load/1/gadget" value="true" />
    <add key="sensorGadget.Width" value="130" />
    <add key="sensorGadget.Location.X" value="1518" />
    <add key="sensorGadget.Location.Y" value="39" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEABM8d8zt3PcrHgwMVxzrDre6M4DBDUcAJ72d9BgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEABM8d8zt3PcrHim/Sp3qDre6MwCBXnixEwAE5Q+lGAAAAA==" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAFMyPul27vsVDwaGA4739re6M4DBCUcA5/Hp3hgAAAA=" />
    <add key="/hdd/1/level/0/values" value="H4sIAAAAAAAEAFMyPul27vsVDwaGY0739re6M4DBMScAq6prnBgAAAA=" />
    <add key="/hdd/1/data/0/values" value="H4sIAAAAAAAEAFMyPul27vsVD4YDQq739re6M4AAkA0AqY8vMhgAAAA=" />
    <add key="/hdd/1/data/1/values" value="H4sIAAAAAAAEAFMyPul27vsVDwYGUZd7+1vdGcBA1AUAO0fhpxgAAAA=" />
    <add key="/hdd/1/data/2/values" value="H4sIAAAAAAAEAFMyPul27vsVDwaGLJd7+1vdGcAgywUAsSW9sxgAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFMyPul27vsVj1SbpY739re6MwCBA5ANACQZ63oYAAAA" />
    <add key="/hdd/1/factor/1/values" value="H4sIAAAAAAAEAFMyPul27vsVj1ilGod7+1vdGYAAxAYA8Al/FRgAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAFMyPul27vsVjwvzD9rf29/qzgAEE9I0HQBRTUUIGAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwMtxwdqxKZGMDggWOQYycnjP2+NQkqfs9RbjaC7V+dBFff34QQr6tBiLP83NsAYwMAS3OAXmwAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwbul0cqxKZGEBgR7fLqiNQ9oxul566JAh7RbfLoxooe0G3i1Ujgv2+NQmuXm42gu1fjVDT35QEN7+uBmGmSQNCzZk6BLveB+EG44kIcQ/ZZDh7a08CXI1fLUJNBczeCd0uyW0I8cA+hNs8fh9lgbGfTkK452FaIlz93y6EeEcvQm/8rRS4eFtLAlw9w4JDLDC2tH0yXH2FE1RvR7eL+1SE2wq7EG5jKEOoYV6EUNO5AqEmsgPKbgCGoTTC3nUdCL2TZyP07j6TAnfDG9kEuHjPlmQ4+/U0hL9ue6qyw9gl3Qh7XVoQ5l8sR6jPbULYxVCLCKuSJqR4L0aw/zoi9B5qR6g3QIqjTyVI7glF+Hf/TigbmFabtBLg7OQpCPVK8xBmAgDMWigD3AIAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwM3M4MAVNnMIABtzMAwq9nzRgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHowNp5wZAqbOYAACEBsAZ60l+RgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwM3c4MAVNnMIBBtzMAa9iXdRgAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwMB+wdqxKZGMCAxXHVERibx7GnLgnKXmD/qAbGPmBv1QhjCzi8b4WxG+zlZiPU+FfD2AYO/U0I8boahF6TBoTeM0h21fskwtUbT0To9ZBNhrIZHLb2JMD0OvjVwtQkOFRUI8xJbkOYH9gHYzs4PG1HUlMMM/OB/dNJCPUP0xBu+NuFEO/oRbDjb6XA7W1rSYCbGSMJd5v9EiQ3SNsj7KpwQvjLfWoSXLywCyHOUIZgMy9CmNO5AuH+yA6ksJVGuGFdB0LN5NkIvbvPpMDZb2Rh6gUcerYkw9W/nobQy66D5JeZSfDwN2hBmFnSjVDvgiR+sRwhntuEEGeoRbi5BC4OTCfFMLaCw19HhJpD7Uj2tiHEP5UgxG+HIuJ3/06EXU1aCPcnT0G4R2keIswBaPViBgwDAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwMLxwcqxKZGMDAwXHVERjbxbGnLgnKfuDwqAbBtmqEsT84vG9FiMvNRrD9q2HsHw79TQjxuhqEXpMGJPEYNXYY20M2Ga5ma08ClM3h6FebBGdXVCP0Jrch2IF9MDaL49N2JDXFMDNfODydhBB/mJYIF//bhRDv6EWw42+lwO1ta0mAi9/a9oobxi6E633hwFCG0NvjdZQFxo7sQKipk0aY8+eDJtzvb2QT4Gp6tiTD1Xw6dAhuzpKZCHMMWhB2fWt7A3dPSRMinPuLEey/jgj1h9oR5ij9PsICY98ORcTd/p0I9eyxqnB3AgDPKH+CQAIAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwgEDB1BgMUAACroDmOGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHlejmhwcqxKZGIBgzrsSh1VHIGyF3w4OPXVJYPbX1Q4Oj2qg7GJHB6tGCNu7xtHhfSuE/e26o4PcbAj79C5HB/9qCLv0tKNDfxNU/VRHhzqoOQu2OTqYNEDVeDg5nIHadUrOyaHeB+KGr5xODsYToeKsTg4esskQ8R1ODlt7EiBmHnd08KtNgrMroPZ6uzg5JLdB3dPh6BDYh7D3aTuErcAHVFMMNdPayeHppCS4vQ/TIG6QB6r52wXVe97RoaMXqmafo0P8rRSI+z86O7S1QNxz+pODQ4wkhL1grqPDEqgbFFY5OkjbJ8PDp8IJESb6WQkOMPbtUIR/9+9E+KVJC+rfWKCbp0DDHOhmpXlQt0k5OQAAwj8/89QBAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgd0d7g6ViUyMQDBm2U7XFcdgbBfmO5y7alLArM9LHa5PqqBso12uVo1QtgcQPb7Vqi4/i5XudkQtobBLlf/agh7BVC8vwmqxnCXax3MHKAakwYI+4X2LtczULs0dHe51vtA3HACyDaeCFUDZHvIJoPZHRq7XLf2JEDUAM33q02Csyug9nLo7HJNboO6AWhvYB/C3qftUHGgmcnFEDM9gOqfTkqC2/swLRGu5m8XRLwDaH5HL9R8oDnxt1Igbpbf5drWAnGPhtku1xhJCJsDaO8SmBuA6qXtk+HhU+GECBP9rAQHGPt2KMK/+3ci/NKkBTHTAxhWyVOS4G5WmgdlA9UDAJXIdJ/UAQAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgweVc6OVYlMDEDQoJTtvOoIhM3gbOncU5cEYX+3cH5UA2Vvt3S2aoSy91s6v2+FssWtnOVmQ9m/LZ39q6Fsbivn/iYo+7qlcx3MnO+WziYNUHazlfMZmF3RVs71PlA3uFs5G0+EijtbOXvIJkPY762ct/YkQNjsVs5+tUlwdgXM3nor5+Q2KPu0pXNgH8Lep+1QtjdQTTHUzHIr56eTkuD2PkxLhKv52wUV57dy7uiFsv9bOsffSoGwpW2c21qg7rG2dI6RhLLvWzovgbnhtaWztH0yPHwqnBBhop+V4ABj3w5F+Hf/ToRfmrSgZk4HunlKEtzNSvOg7HArZwCEzf2F1AEAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwMB1wZAqbOYACDA64AUfgdIRgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHgwMBxwZAqbOYACDA44A3lbJ5hgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC2STUiUURiFI2rTImgIGVeeGXJIKWG+xSyCigMjFQxh9EPZDzYaxhBIOUU5k9bYD1OZFVJgFCSB4MJyENGIViUVk6toE4b0Rwsp+IiGCaEu33nv6uHwcu55z72J+HxorvJ++2xlB1flji5f5s7X6hY2vxJPr47yQG864MJacMk40QD6xqkkmBsxvRVsMD28GxztEa9bAJ9fN54C27JivwjW94vzjsN5cUsf+PigMiQPg4Vr0nvawd6a9oB/7wEzA20Bj+x3d+U0M71Yx+pl8Ydj4EbT/TQYvSkuNYF3i+LyWed5SZ5/8uANy7M+Cv7oVIZwCFxzS/pcHOwz/zNbwV2bO9VPbYQz0SMBewPgeI2yvegAHzTLP5UBv1meplnXYYs4Uwb33hZ7x10P5u+fdD1cFP8cBIujtpfrp/yvI+ChCfBXve7y5sFQrbjxkdvrquYXT4Ab7pn/adfVKfGnLjB7Qfz0jXu7CeX8XAGHh6Q3zrj+4/J8XXI5H0qP3QeT58WTw25He6PYGPjOPCefgZtsxnP70vjvR/cfrP+p7+C2btNXRrivIH7pslUT4laCg3cs8yHXg/2rK/3gznPipS9gLC0O+a63J+IVqQiTnvJn6yIsjUl/Ow7+B5vZcm8AAwAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2SSyiEYRSGh6XVUMROipApYzFJ6R1F/hUjUVL6XWrKStgwLmNcx3XILSKJXMq9RCymJMr5rCzGQrFQFopGuUTx5Zx/9XQ6/3ve837HYb+Luf64MdaVxRnlqY606M85/YaCc+alg2tUdNT886eN8CNsGoSw8FM9wbPMfN9HSJP6ZTthrZV5165wOsSc+EMwm5mDZ4TkbuZUzfFtzJmHhJVK9hAcJPgGRWeC0BFXy/1eQv2IyXN79CwP92R/X+GrV/qnCDapW/S/SaPiv5gw7RfPW1qzhzUzDwjD4scE4cnNHu7TCdEBrrtKCZ2iH6wjlOS6uadV4TipijO5IGzHsTfXJGGhgPXNecKj+AlYFcIu5oF4hbJx8TyrcxD9xFWdQ5f4uSL415hDOh/6rftn453wksyzXm0KMQnM5oPeq5/7jxYJGTPMxobOqpHZu0xo9jJbYxXS9tjnZ7HC3KS8+6/O386aoQ9C2aL4vCXkt4tPzQvyRqFnghLN1wiFHOmZ1fvmCZsZ+h4kf2uOQmGTzKpWKPdJj/b25ZDbcBPGJpid+h78cleBE0JRi+g7FFJqpG4orOzIvicK+Vnsv8GnsL8pmYQJf8E/ArUAAwAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC3SPUhbYRQG4CqC4FaHEEE6SCMKdrBIhlKHIxUziCjEFBUk0Rz8QayNUdRoTOJvjJq0FUOL6VCUgFDF0qXoIiVb7ZRNujVgByl0UYugL/f97vRwOPe95zv3c9b/Kv95lXd5Cr1SFvIVP8BzveeV5hzd2qTSFe6zXPRO5db4a1Lln3F/QiX0if69olJr6qVxlewMvRZQOUnQz6dVvEHaFVFxLNA9sH2W/h9V2e3hDIPIjK2xPrysErb1Wz5eVRne8Fp+DGdD7Ol6r3KzRJeh/4mpR+CqTTq/qbIdp0sWkLnIzO6YyrqZJ59SuRjgDH6c/WGKdQ/enTf5NesqHY0D7BlS+VbVa/n7vMqBjbM58d1MM/PdSyoFM8/BJHbYTh9OqHS+offRYzf5lYvYQ5R2IzOepQvYz487v+Ur7POvg98qHlcpr6C3ZnGuFfb/QU5dmk7jvNkAPYZ6MEI/wjy1R5zzdFTlwxbrp1PYfz0zc/hW50fzT+dUXszRO3DG/CNHSOXMZMbw7jPT8xn5YtyAOU/M/sOvVVrG6eiIiidGBzHbjZM+xx1LvqWncB/i5l61YQ9t0/Qlcqr7zG5fYW+H9Esf5nzK+QODKl/2WR+aUbkHPKbkUAADAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAE2STyiDcRjH3ziQo5tEclpyWChy0VfKq8QcFKW8Ni0XRYblz8zba14zmzHDFsqWtKQdKFIIB4clysGfC2qlKOXCZWW8z+/9+Z0+PT19n+/zfX7hYF3u1detaG34BEa6MoTfJ90gdkG8vQOPw6yxEMTLmMZl8RCqJ6netoKPKd5TGCauWkLzqFnX8cnEr044SEf49qLCSXzqQ4LNyl7DRCN5MHpR7uf6YoFF474A9j0Sed5A0zj1mPyws7k9W7C4zLpOi5e4aBXJadYzB8sAaV4rSC4wDwqerV26ZspNddENdY74QEXnQ/cf3x8G4FI0P6K8iI48SfccZR7UeeTX0CxTDPZa7q1+SeP2YxX9bNbdLIQhnmfmJttxEDPbPM92VePK6wgc+TT3MohdqgtxBxbZXQzTOEponk1jbrwXaP2GHD88e+RtfhlvQeqXXMgqlfR8oqs8Z6PCc7DN8h3rFO7zZpjYHkav/G8vdi8xApvMNX0DzHMIKRA/LeCM3St9dyPLM/33Pm38zzy2Mp1znBzye8klks6WANcpXuc7/gCGGqqnDAMAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHrvP8Tk5ViUyMYBAQ6fjqiNQ9gFHx566JAjbgdnxUQ2MLeNo1QhlM/xyeN8KY4s5ys2GsfUd/auh7AYlx/4mhN46mDkMJxxMGhDmnIHZxfDQod4nEa7XeCLCHA/ZZKjb+B239iRA1Xs4+tUizKmA2QtUk9yGEA/sS4L762k7wl/JxVAzG946PJ2EcMPDNJgbrjj87UKo7+hFuD/+VgqY7bfGxLGtBeKewl2LHWIkE+BhsgTuhmkO0vYwu3IdK5xg4usd3KfC/MjpWAizC+gehjKE+5kXIcQ7V8DY1o6RHRD2lLC3DnXSCXC/r+tAuHnybAR79xmIm8uSpB3fyELU63i/c+jZkgx3w+tpMHurHNh1oGY2LHJYMhNhjkELgl3SjUgDLi0If10sR6jJbUKIM8DiCxi2JUhpo78YEUd/HRHqD7UjwtwAFp4HNBw/lSD03g6FiRc77t+JCJ8mrQQ4O3kKQr3SPIQ5AP1Ln8sMAwAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHs0Ljjg4ViUyMYCBmOOqIzD2NIeeuiQo+5f9oxoY+4S9VSOMnejwvhXG9nCQmw1n2/tXw9U79Dch9NbBzRFzMGlAqD9Th1BT75MIt9d4Ikxc38FDNhnO3tqTAHenXy3CnRXVCLcltyHMDOyDsascnrYjxJOLk+Hsp5Ng4tPsH6bBw8ThbxfC/I5eBDv+VgpcTVsLxD1/svUdYiRhbmNgWNKG8KO0fTLczRVOiHBzn4pQU9iFCB+GMoQ48yK4m+06VyDCJLIDwrbaGOdQJ50A17uuA+GXybMR/t19JgVu5htZiHqd09Pse7Ykw93zehpCL7sOwswlMxFuNmhBhENJN8JtLi0I918sR6jJRUoDDLUINSVNiPjqL4ax1zv8dUToPdSOZC9SnH4qgbvT4XYolN2Q67h/J0J9kxbC/clTEOGmNA/BBgAgKIzJDAMAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHlXv+pwcqxKZGEDgRYPTqiNQtkKDU09dEoQdUOr0qCYJLm7VCGPXOr1vhbIXFDjJzYayBfKd/KuhbIMip/4mKHuDj1NdDcJMkwYou6DC6QzMrh0dTvU+UDcwJDoZT0SY6SGbDLdra08ChJ2Q5eRXCzM/1akCZu+EaqfktiS4msA+KLsh1+lpO5T9INYpuRhqZkCM09NJCHMepkHd8KDM6W8XzL8pTh29ULZDulP8rRQw+41JglNbC8Q9Z+MrnWIkE+DhswTmBmDYStsj7KpwQoSP+1SEmYVdCDcwlEHZFU1OzIug7Av+Tp0rYGHo7BTZAWHPmdXoVCedAA+fdR0w/4Y4TYbFS0G80+4zEDerH0txeiMLUX85pdCpZwvUbRcynF5Pg6o/UOzErpMAj4slM5PgagxaEGFS0o2IU5cWhL0Xy2H+anbKhaUBYHgywOLLo8upBCZuEOnUXwxLS+FOfx0RaeMQLL4YqpwM2hDp4VMJIk5vhyLM2b8TFu+BTk1aCXB28hREOCvNg5np4QQAv1kbIAwDAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJs9zUXo3PcrHkkzfjk4ViUyMYDAgSjHVUegbIb1Dj11SVB2osOjGgi7geeXvVUjTPyE/ftWGFvMQW42jO3h4F8NF3fsb4Kxf9nX1SD0mjTA2NPsz9QhxOt9YG7QdzCeiDDfQzYZzt7akwBlVzn41SbB3VwBt/eXQ3Ibwj2BfQi7nrYj1CcXI8x8OgnuBruHaYlwN//tQri/oxfhnvhbKWB219ypDm0tEPfEZCc7xEgmwNUsaUOol7aH2nVAw7HCCWGm+1QIO3LadPtCuF36DgxlcPfbMy9ChE/nCoRfIjsg7KZVxxzqpBFhsq4DoWbybIRdu89A3Cxifdz+jSxE/fvfSQ49W6Bua9jt8HoaQi+7TgLcPUtmIsLToAWhpqQbwXZpQYThxXKEvblNCDUM8PhKdCiBiTcscugvToK74a9jEtwvh9oRYWgAC8+GTodPJXAzHW6HwsRDHPfvRNjbpIVwf/IUhJlK8xBsAPU7HqsMAwAA" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="NaN" />
    <add key="plotPanel.MaxTimeSpan" value="NaN" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>